<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
        @RenderSection("styles", false);
    </head>
    <body>
        <div style="width:90%; margin-left:4%;">
            <div class="row">
                <div class="page-header bg-info">
                    <br />
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-md-3 bg-info">
                    <br />
                    <ul class="nav nav-pills nav-stacked">
                        <li id="liInicio" role="presentation" class="active">@Html.ActionLink("Início", "Index", "Notificacoes")</li>
                        <li id="liUsuarios" role="presentation">@Html.ActionLink("Usuários", "Index", "Usuarios" )</li>
                    </ul>
                    <br />
                </div>
                <div class="col-xs-1 col-md-1 ">
                    
                </div>
                <div class="col-xs-9 col-md-8 bg-info">
                    <br />
                    @RenderBody()
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-xs-12 col-md-12 bg-info">
                    <br />
                </div>
            </div>
        </div>
        <script src="@Url.Content("~/scripts/jquery-1.10.2.js")"></script>
        <script src="@Url.Content("~/scripts/bootstrap.js")"></script>
        @RenderSection("ScriptPage", false);
    </body>
</html>